.btn-search{
    color: #b45b35;
    border-radius: 3px solid #b45b35 ;
    border-radius: 8px;
    background-color: white;
}
.btn-search:hover {
    color: white;
    border-radius: 3px solid white ;
    background-color: #b45b35;
    border-radius: 8px;
}
.brand-color {
    color: #b45b35;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.title{
    color: #224f61;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: 20px;
}
.underline {
    height: 1px;
    width: 200px;
    border-radius: 10px;
    border: 2px solid #b45b35 ;
    margin-top: 10px;
}
.btn {
    color: black ;
    font-size: 18px;
 
    letter-spacing: 0;
    line-height: 24px;
    border: 2px solid #b45b35 ;
}
.btn:hover{
    color: black;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    border-radius: 11px;
    background-color: #b45b35;
    border: 2px solid #b45b35 ;
}
.img-item{
    height: 180px;
    width: 252px;
    border-radius: 5px;
}
.item-title {
    color: #555555;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
}
.item-description{
    color: #8c8c8c;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
}
.item-price{
    color: #b45b35;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;

}
